.contact-container {
  background-color: black;
  max-width: 1440px;
  height: 80vh;
  color: var(--text-color);
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.contact-container h1 {
  padding: 30px;
  color: var(--head-color);
  font-size: 56px;
}

.contact-details-text {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

.contact-details-text p {
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--text-color);
}

.contact-details-text a {
  font-size: 20px;
  margin: 18px 0px;
  letter-spacing: 1px;
  color: var(--text-color);
}

.contact-element h3 {
  font-size: 25px;
  margin: 18px 0px;
  letter-spacing: 3px;
  color: var(--text-color);
}

.socials-contact {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.socials-contact a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: 0.3s;
}

.github-img{
  background-color: #ffffff;
}

.socials-contact img {
  width: 80px;
}

.socials-contact a:hover {
  transform: scale(0.85);
}

@media screen and (max-width: 1024px) {
  .contact-container {
    max-height: 50vh;
  }

  .contact-details-text {
    width: 90%;
  }

}

@media screen and (max-width: 724px) {
  .contact-container {
    max-height: 800px;
    margin: 0 0 30px 0;
  }

  .contact-details-text {
    flex-direction: column;
  }

  .socials-contact {
    gap: 25px;
  }

  .socials-contact a {
    width: 40px;
    height: 40px;
  }

}