@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet');

:root {
    --head-color: #fdbd39;
    --text-color: #dcdcdc;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: "Cormorant Garamond", serif;
	background-color: rgb(0, 0, 0);
	display: flex;
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: black;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}
